:root {
  --primary-color: #c4d7e0;
  --secondary-color: #6e85b7;
  --third-color: #f8f9d7;
  --paragraph-color: #b2c8df;
  --font-family-heading: "Open Sans", sans-serif;
  --font-family-paragraph: "Quicksand", sans-serif;
}
body {
  text-align: center;
  background-color: var(--primary-color);
}
h2 {
  font-family: var(--font-family-heading);
  margin-top: 140px;
}
.underline {
  width: 100px;
  height: 5px;
  background: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
}
